/* основной цвет фона - #FFFFFF
вторичный цвет фона - #F5F4FA
цвет заголовков - #212121
цвет текста - #757575
цвет акцента, ховера фокуса - #2196F3

цвета лого - #2196F3  #000000 #FFFFFF
цвет тел и емейл в футере - rgba(255, 255, 255, 0.6) 
бекграунд цвет футера и заглушки героя - #2F303A */

:root {
	--title-color: #212121;
	--text-color: #757575;
	--active-hover-focus-current: #2196f3;
}

body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
}

button {
	font-family: inherit;
}
.logo-header {
	color: #000000;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
}

.logo-web {
	color: #2196f3;
}

.nav,
.nav-contacts,
.feature-list,
.project-list,
.member-list,
.portfolio,
.project {
	list-style: none;
}

.nav-link,
.nav-tel,
.nav-mail {
	color: var(--title-color);
	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-tel:hover,
.nav-mail:hover {
	color: var(--active-hover-focus-current);
}

[aria-current] {
	color: var(--active-hover-focus-current);
}

.hero-dummy {
	background-color: #2f303a;
}

.hero-title {
	color: #ffffff;
	text-transform: uppercase;
}
.btn {
	color: #ffffff;
	background-color: #2196f3;
}

.features {
	color: var(--title-color);
}

.features-text {
	color: var(--text-color);
}

.work {
	color: var(--title-color);
}

.members {
	color: var(--title-color);
}

.member {
	color: var(--title-color);
}
.member-position {
	color: var(--text-color);
}

.address {
	color: #ffffff;
}

.project-link {
	text-decoration: none;
}

.project-title {
	color: var(--title-color);
}

.project-type {
	color: var(--text-color);
}

.portfolio-btn {
	color: var(--title-color);
	background-color: #f5f4fa;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: #ffffff;
	background-color: #2196f3;
}

.logo-footer {
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
}

.footer-contacts {
	color: rgba(255, 255, 255, 0.6);
}

.footer {
	background-color: #2f303a;
}
